In [84]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset (replace 'your_dataset.csv' with your actual dataset)
dataset = pd.read_csv('adult.csv')
dataset.drop(4, inplace=True)
dataset.drop(columns = ['fnlwgt', 'race','sex','education-num','relationship','native-country'], inplace=True)
dataset.reset_index(inplace=True,drop = True)

# Get the first 5 rows
first_5_rows = dataset.head(5)

# Define a function to apply background colors
def color_columns(val, column):
    colors = {'capital-gain':'white',
              'capital-loss':'white',
              'hours-per-week':'white',
              'marital-status': 'lightskyblue', 
              'education':'lightskyblue',
              'workclass':'lightskyblue',
              'occupation':'lightskyblue',
              'age': 'white',
              'class':'white'}  # Define column-color mapping
    return f'background-color: {colors.get(column, "white")}'

# Apply the function to specific columns using the Styler class
styled_df = first_5_rows.style.apply(lambda x: [color_columns(x[i], first_5_rows.columns[i]) for i in range(len(x))], axis=1)

styled_df